/Altair8800_UCSDP/backup.bat
/Altair8800_UCSDP/DISK01_BIOS.bat
*.DSK
/Altair8800_UCSDP/ucsdp_altair.bat
/Altair8800_UCSDP/update_ucsdp_altair.bat
/Altair8800_UCSDP/*.exe
/Altair8800_UCSDP/farmenu.ini
/Altair8800_UCSDP/DISK01.JOB
/Altair8800_UCSDP/fix_ucsdp_altair.bat
/Altair8800_UCSDP/cpmsim
/Altair8800_UCSDP/*.IMG
/Altair8800_UCSDP/*.obj
/Altair8800_UCSDP/build
/Altair8800_UCSDP/zmac
/Altair8800_UCSDP/*.LST
/Altair8800_UCSDP/*.MAP
/Altair8800_UCSDP/*.LOG
/Altair8800_UCSDP/*.bak
/Altair8800_UCSDP/*.rar
/Altair8800_UCSDP/*.zip
